// src/styles/_variables.scss

// Colors
$primary-color: #cba135; // Gold
$primary-hover: #b2922f;
$secondary-color: #3b3b58; // Deep indigo
$light-bg: #faf3e0; // Light cream
$card-bg: #fff;
$warn-color: #a33;
$text-dark: #014d4e;
$text-light: #faf3e0;
$placeholder-bg: #f0e7d5;

// Fonts
$font-heading: "Cinzel", serif;
$font-alt: "Playfair Display", serif;

// Shadows
$card-shadow: 0 8px 20px rgba(59, 59, 88, 0.2);
$img-shadow: 0 4px 12px rgba(59, 59, 88, 0.2);
